:root {
  --primary-font: Urbanist;
  --special-font: Space Grotesk;

  /* font sizes */
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-xxl: 1.5rem;
  --font-size-3xl: 2.25rem;
  --font-size-4xl: 4rem;

  /* colors */
  --purple-med-color: #372e7f;
  --purple-dark-color: #2a1a5e;
  --purple-light-color: #665bc4;
  --background-color: #feffdb;
  --secondary2-color: rgb(219 62 29);
  --secondary3-color: rgb(247 233 222);
  --secondary4-color: #ff5349;

  --btn-color: #282724;
  --btn-hover: #34332f;
  --btn-alt-color: #adaf40;
  --btn-alt-hover: #fff083;

  /* widths */
  --max-width-xl: 1200px;
  --max-width-md: 900px;
  --max-width-sm: 600px;
}

/* behaviour */

.scroll-smooth {
  scroll-behavior: smooth;
}

/* text styling */

h1 {
  font-family: var(--special-font);
  color: var(--purple-dark-color);
}

h2,
h3,
h4,
h5,
p {
  color: var(--purple-med-color);
}

body {
  font-family: var(--primary-font);
  background: var(--background-color);
}

.section-brk {
  border-top: 2px dotted #282724;
}

/* Navbar */

.navbar {
  background: var(--background-color);
}

.navbar a:hover {
  color: var(--secondary2-color);
}

/* Hero Homepage */

.hero {
  background: rgb(235, 241, 57);
  background: radial-gradient(
    circle,
    rgba(238, 244, 30, 1) 0%,
    rgba(254, 255, 219, 1) 100%
  );
  text-align: center;
  padding: 160px 20px;
}

.hero h1 {
  font-size: var(--font-size-4xl);
}

.hero h4 {
  font-size: var(--font-size-xxl);
}

.hero h2 {
  font-size: var(--font-size-3xl);
}

.btn-contact {
  color: var(--secondary3-color);
  font-size: var(--font-size-md);
  background-color: var(--purple-med-color);
  padding: 5px 25px;
  border-radius: 18px;
}

a {
  text-decoration: none;
}

.btn-contact:hover {
  background-color: var(--purple-light-color);
  color: var(--btn-alt-hover);
}

/* Toolkit & Work section */

.toolkit-section {
  margin: 80px auto;
}

.toolkit-description {
  font-size: var(--font-size-md);
}

.top-tools {
  font-weight: 400;
  font-style: italic;
}

.bottom-tools {
  font-weight: 400;
  font-style: italic;
}

.work-section {
  margin: 80px auto;
  padding: 20px 30px;
  border-radius: 10px;
  background-color: var(#ffff);
}

.btn-demo {
  color: var(--secondary3-color);
  font-size: var(--font-size-md);
  font-weight: 700;
  background-color: var(--btn-alt-color);
  padding: 5px 25px;
  border-radius: 18px;
}

.btn-demo:hover {
  background-color: var(--btn-alt-hover);
  color: var(--purple-light-color);
}

/* Projects */

.tools-btn {
  border: 2px solid #34332f;
  border-radius: 13px;
  padding: 5px 10px;
  gap: 1;
}

.tools-section {
  margin-bottom: 15px;
}

/* Contact */

.email-link {
  color: var(--purple-med-color);
}

strong:hover {
  cursor: pointer;
  color: var(--secondary4-color);
}

/* footer */

.socials a {
  margin: 10px;
}

/* Responsive */

@media screen and (max-width: 430px) {
  .hero .hi {
    font-size: var(--font-size-sm);
  }

  .hero .name {
    font-size: var(--font-size-xxl);
  }

  .hero .job {
    font-size: var(--font-size-xl);
  }

  .hero .desc {
    font-size: var(--font-size-sm);
  }

  .toolkit-description {
    font-size: var(--font-size-sm);
  }
}

@media screen and (max-width: 768px) {
  .hero .desc-sm {
    font-size: var(--font-size-xs);
  }
}
